#!/bin/bash

## passport
## @file	: passport.sh
## @brief	: Passport system updater script
## @author	: Veltys
## @Date	: 2024-06-04
## @version	: 2.0.2
## @usage	: ./passport.sh | sudo sh passport.sh
## @note	: It is recommended that it be called through crontab


log_file='{{ common.passport.log_file }}'

if [ ! -f '/etc/passport' ]; then
	echo "ERROR: El intento actualizar el Passport system ha fracasado debido a que no se encuentra el archivo de configuración" >> "$log_file"
else
	source /etc/passport

	if ! "$log"; then
		log_file='/dev/null'
	fi

	# Update Passport
	sleep "$SLEEP_TIME" && echo "$(date), $(curl -4 "$url")" >> "$log_file"
fi
