#!/bin/bash

# Title         : dynamic_dns_updater.sh
# Description   : Updates given OVH dynamic DNS servers
# Author        : Veltys
# Date          : 2023-07-20
# Version       : 2.0.3
# Usage         : sudo bash dynamic_dns_updater.sh | sudo ./dynamic_dns_updater.sh
# Notes         : It is recommended that it be called through crontab


# Parameters
user='{{ group.dynamic_dns.user }}'												# Replaced by Ansible
password='{{ group.dynamic_dns.password }}'										# Replaced by Ansible

{% for h in host.dynamic_dns.hosts -%}
	hosts[{{ loop.index0 }}]='{{ h }}'{{ "\n" }}
{%- endfor %}

url='{{ common.dynamic_dns.url }}'												# Replaced by Ansible

# Log
log={{ host.dynamic_dns.log | lower }}											# Replaced by Ansible
log_file='{{ common.dynamic_dns.log_file }}'									# Replaced by Ansible

if ! "$log"; then
	log_file='/dev/null'
fi

# Update IP
for host in "${hosts[@]}"; do
	echo "$(date), $host: $(curl --user "$user:$password" "${url}&hostname=${host}")" >> "$log_file"
done
